DA EXPERIMENT 6

Niranjan Badhe

2019120004

BE EXTC

In [39]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [40]:
# first import library that we need 
import pandas as pd 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB  # suitable for discreate feature and Gusian naive bayes for contious
from sklearn.metrics import accuracy_score ,f1_score , precision_score , recall_score

Importing libraries

In [41]:
df = pd.read_csv('/content/spam.csv',encoding='ISO-8859-1')
df = df.iloc[:,:2]
df.rename(columns={'v1':'label', 'v2' : 'sms'},inplace=True)

In [42]:
# first convert label col to numeric 
df['label'] = df.label.map({'ham':0 , 'spam':1})
df.head()

   label                                                sms
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

Reading and displaying the data from the dataset

In [43]:
# split the data 
X_train, X_test, y_train, y_test = train_test_split(df['sms'], df['label'], test_size=0.33, random_state=42)
print('Size of training data{}',format(X_train.shape[0]))
print('Size of Testing data{}',format(X_test.shape[0]))

Size of training data{} 3733
Size of Testing data{} 1839

Splitting the data into testing and training sets.

In [44]:
# Convert Sms To BOW Count verctor
count_vector = CountVectorizer()
train_data = count_vector.fit_transform(X_train)
testing_data = count_vector.transform(X_test)

In [45]:
# BOW(Bag Of Word) Look Like This 
# convert text to numbers for ML 
count_vector = CountVectorizer()
col_name = count_vector.fit(df['sms']).get_feature_names()
data = count_vector.transform(list(df['sms'])).toarray()
BOW = pd.DataFrame(data, columns= col_name)
BOW.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,ó_,û_,û_thanks,ûªm,ûªt,ûªve,ûï,ûïharry,ûò,ûówell
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
naive_bayes = MultinomialNB()
naive_bayes.fit(train_data , y_train)

MultinomialNB()

Creating a Naive Bayes Classifier.

In [47]:
predection = naive_bayes.predict(testing_data)

Training the Naive Bayes Classifier with the testing data.

In [48]:
print('Accuracy score: {}'.format(accuracy_score(y_test, predection)))
print('precision_score: {}'.format(precision_score(y_test, predection)))
print('recall_score: {}'.format(recall_score(y_test, predection)))
print('f1_score: {}'.format(f1_score(y_test, predection)))

Accuracy score: 0.9825992387166939
precision_score: 0.9741379310344828
recall_score: 0.8968253968253969
f1_score: 0.9338842975206612

**Random Forest**

In [49]:
from sklearn.ensemble import RandomForestClassifier

In [50]:
rf = RandomForestClassifier()

In [51]:
rf.fit(train_data, y_train)

RandomForestClassifier()

In [52]:
rf_prediction = rf.predict(testing_data)

In [53]:
print('Accuracy score: {}'.format(accuracy_score(y_test, rf_prediction)))
print('precision_score: {}'.format(precision_score(y_test, rf_prediction)))
print('recall_score: {}'.format(recall_score(y_test, rf_prediction)))
print('f1_score: {}'.format(f1_score(y_test, rf_prediction)))

Accuracy score: 0.9771615008156607
precision_score: 1.0
recall_score: 0.8333333333333334
f1_score: 0.9090909090909091

CART Classifier

In [54]:
from sklearn.tree import DecisionTreeClassifier

In [55]:
cart = DecisionTreeClassifier()
cart.fit(train_data, y_train)

DecisionTreeClassifier()

In [56]:
cart_prediction = cart.predict(testing_data)

In [57]:
print('Accuracy score: {}'.format(accuracy_score(y_test, cart_prediction)))
print('precision_score: {}'.format(precision_score(y_test, cart_prediction)))
print('recall_score: {}'.format(recall_score(y_test, cart_prediction)))
print('f1_score: {}'.format(f1_score(y_test, cart_prediction)))

Accuracy score: 0.957041870581838
precision_score: 0.8365758754863813
recall_score: 0.8531746031746031
f1_score: 0.8447937131630648

**Conclusion**

Implemented three models: Naive Bayes, Decision Tree (CART), and Random Forest for email spam classification.

With the highest ratings across all four metrics, it is evident that the Naive Bayes classifier outperforms the other two.

As a Multinomial Naive Bayes classifier performs best with discrete features—in this case, the word count we chose to use it.